<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action=" ">
   <input type="text">
   <button onclick="Getvalueofinput()">Get</button>
</form>
   <script>
    let input = document.querySelector('input')
    function  Getvalueofinput(event) { // function ma je event name nu parameter hoi te default parameter hoi che 
        console.log (event)// default hoi etla mate tema badhi j vastu exesses kari sakase . karse to bo j badhi method dekhase  te badhi j used karvani che .(event.Getvalueofinput, console , doqument  .....)
    }
   </script> 
</body>
</html>